name: Run Cypress Tests

on:
  push:
    branches:
      - master  # This workflow is triggered on push to the 'master' branch
  pull_request:
    branches:
      - master  # This workflow is triggered on pull requests to the 'master' branch

jobs:
  gothru-dashboard-cypress-tests:
    runs-on: windows-latest  # This job runs on the latest Windows

    steps:
      # Step 1: Checkout code from the repository
      - name: Checkout code
        uses: actions/checkout@v3

      # Step 2: Setup Node.js
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'  # Specify the Node.js version to use

      # Step 3: Install dependencies
      - name: Install dependencies
        run: npm install  # Install dependencies listed in package.json

      # Step 4: Install Cypress and mochaawesome
      - name: Install Cypress and mochaawesome
        run: npm install mochawesome mochawesome-merge mochawesome-report-generator --save-dev

      # Step 5: Run Cypress tests
      - name: Run Cypress tests with Mochawesome
        run: npx cypress run --reporter mochawesome --reporter-options reportDir=cypress/results,overwrite=false,html=true,json=true

      # Step 6: Upload Cypress test results
      - name: Upload Cypress test results (HTML)
        uses: actions/upload-artifact@v4
        with:
          name: cypress-html-report
          path: cypress/results/*.html

      # step 7: Upload Cypress test results
      - name: Upload Cypress test results (JSON)
        uses: actions/upload-artifact@v4
        with:
          name: cypress-json-report
          path: cypress/results/*.json

      # Step 8: Cache Cypress binary
      - name: Cache Cypress binary
        uses: actions/cache@v3
        with:
          path: ${{ env.HOME }}\AppData\Local\Cypress\Cache  # Fixed indentation
          key: ${{ runner.os }}-cypress-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-cypress-

      # Step 9: Run Cypress tests (specific spec)
      - name: GoThru Dashboard Cypress tests
        run: npx cypress run 
      #--spec "cypress/e2e/integration/authentication/login.cy.js"

      # Step 10: Upload video of test results
      - name: Upload video of test results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: cypress-videos
          path: cypress/videos

      # Step 11: Upload test results
      - name: Upload test results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: cypress-reports
          path: cypress/screenshots